.cabecera{
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contenedor1 {
    background-image: url('../storage/img-productos/roblenegro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor2 {
    background-image: url('../storage/img-productos/roblenegro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor3 {
    background-image: url('../storage/img-productos/roblenegro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  
}

.navar img {
    width: 500px;
    height: 300px;
    border-radius: 10%;
}


.contenedor1{
    border: 3px transparent ;
    display: flex;
    justify-content: space-between;
}

.contenedor1-content img {
    width: 200px;
    height: 170px;
}

.contenedor2 {
    border: 3px transparent;
    display: flex;
    justify-content: space-between;
}
    
.contenedor2-content img {
    width: 200px;
    height: 220px;
}

.contenedor3{
    border: 3px transparent ;
    display: flex;
    justify-content: space-between;
}


.contenedor3-content img {
    width: 200px;
    height: 217px;
}

.contenedor1  {
    position: relative;
    scroll-snap-align: center;
    
}

.contenedor1-content {
    display: flex;
    height: 210px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.contenedor1 {
    margin: 50px auto 0;
}

.contenedor1 {
    margin: 50px 15px 0;
}

.contenedor2  {
    position: relative;
    scroll-snap-align: center;
}

.contenedor2-content {
    display: flex;
    height: 252px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.contenedor2 {
    margin: 50px auto 0;
}

.contenedor2 {
    margin: 50px 15px 0;
}

.contenedor3  {
    position: relative;
    scroll-snap-align: center;
    
}

.contenedor3-content {
    display: flex;
    height: 252px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.contenedor3 {
    margin: 50px auto 0;
}

.contenedor3 {
    margin: 50px 15px 0;
}

.contenedor1-content::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}

.contenedor2-content::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}

.contenedor3-content::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}